$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;

$font-family-custom-sans-serif: 'Poppins', sans-serif;
$font-family-base: 'Poppins', sans-serif;
$body-bg: #fef6ff;
$theme-colors: (
  'secondary': #ff7445,
  'primary': #5f09f1,
  'dark': #382b47,
  'light': #fef6ff,
  //   'warning': #FFB070,
);

@import '~bootstrap/scss/bootstrap';
